@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');

/* ----------------------------------------
Base Styles
------------------------------------------- */

/* https://gridbyexample.com/learn/ */
.grid-wrapper{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 40px;
}

body {
	padding-top: 20px;
	font-family: "Raleway";
	text-align: center;
	color: #44545E; /* dark grey */
}

/* menu */
body nav a{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	padding-left: 40px;
	padding-right: 40px;
	text-decoration: none;
	color: #7B98AA; /* grey blue overrule */
}

a:hover{
	color: #44545E;
}

/* Monument */
header h1 a{
	text-transform: uppercase;
	font-size: 37px;
	text-decoration:none;
	font-weight: 600;
	color: white;

}

/* mountain background iage */
header{
	background-image: url("../images/blog_header_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 50px;
	margin-top: 30px;
}

article{
/*	max-width: 80%;*/
	padding-left: 650px;

}

/* date */
article h3{
	font-weight: 600;
	text-align: left;
	font-size: 18px;
}

/* visual guide to southwest */
article h2{
	text-align: left;
	font-weight: 600;
	font-size: 23px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

p{
	text-align: left; 	/* overrule body centered */
	font-family: "Lato";
	font-weight: 400;
	font-size: 15px;
}

article img{
	width: 590px;
}

article{
	padding-bottom: 50px;
}

footer{
	background: #CDF3F6;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 40px;
	padding-bottom: 20px;
}

footer a{
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Lato";
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
}

/* set links style */
footer p {
	text-align: center;
	text-transform: none;
}

/* set style of Sarah Holden */
footer p a {
	font-weight: bold;
	text-decoration: none;
}


aside{
	padding-top: 40px;
	text-align: left;
	width: 250px;
}
aside img{
	width: 250px;
}

/* heading3 */
aside h3{
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: 600;
	font-size: 18px;
}

aside p {
	font-family: "Lato";
	font-weight: 400;
	font-size: 15px;
}

li{
		font-family: "Raleway";
		font-weight: 400;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;

}
li a{
		text-decoration: none;
}

button, input{
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}
button{
	background-color: inherit;
	padding-right: 10px;
	padding-left: 10px;
}
